.card{
    width: 300px;
    border: 3px solid blue;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    margin: 20px;
    text-align: center;
}

.medicine{
    display: flex;
    flex-wrap: wrap;
    
}
 

.info{
    width: 350px;
    border: 3px solid red;
    margin: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    text-align: center;

}

.information{
    display: flex;
    flex-wrap: wrap;
}